html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gelasio", serif;  
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url(/img/bg2.jpg);
    background-repeat: repeat-y;
    background-size: auto;
}


.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.container {
  max-width: 960px;
}

.round-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(90deg, #163635, #235a62);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.3;
  display: inline-block;
  
}
h1 {
  font-size: 2.3rem;
}
h2{
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
  color: #607d8b;
  margin-bottom: 0;
}

.navbar {
  background-image: linear-gradient(90deg, #163635, #235a62);
}
/* 
  OVERLAY 
*/
.overlayContainer {
  position: relative;
}

.overlayContainer img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  color: #eceff1 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding: 16px 32px;
  border-radius: 4px;
}

.overlayContainer:hover img {
  opacity: 0.5;
}

.overlayContainer:hover .middle {
  opacity: 1;
}

/* 
  IMAGE HOVER 
*/

.zoom {
  overflow: hidden;
}

.zoom img {
  transform: scale(1.2);
  -webkit-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}

.zoom:hover img {
  transform: scale(1);
}


/* Ethereum Spinner */

/*
  Colors of Ethereum diamond
  red HEX #ff9c92 RGB (255,156,146)
  yellow  HEX #ffe94d RGB (255,233,77)
  green HEX #88d848 RGB (136,216,72)
  purple HEX #ce71c3 RGB (206,113,195)
  blue HEX #5a9ded RGB (90,157,237)
  teal HEX #53d3e0 RGB (83,211,224)
*/

.eth {
  margin: auto;
  position: relative;
  /*
  position: absolute;
  left: calc(50% - 10em / 2);
  top: calc(50% - 4em);
*/
  width: 40px;
  height: 150px;
  font-size: 0.25em;
}

.eth .top,
.eth .bottom {
  width: 10em;
  height: 10em;
 /* background: rgba(255, 255, 255, .5); */
  transform: rotateX(65deg) rotateZ(45deg);
  transform-style: preserve-3d;
  position: absolute;
  animation: rotate 10s linear infinite;
}

.eth .top .left,
.eth .bottom .left,
.eth .top .right,
.eth .bottom .right,
.eth .top .up,
.eth .bottom .up,
.eth .top .down,
.eth .bottom .down {
  position: absolute;
  width: 0;
  height: 0;
}

.eth .top .left,
.eth .bottom .left,
.eth .top .right,
.eth .bottom .right {
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 15em solid rgba(255, 255, 255, .25);
  transform-origin: bottom;
}

.eth .top .up,
.eth .bottom .up,
.eth .top .down,
.eth .bottom .down {
  transform-origin: bottom right;
  border-top: 5em solid transparent;
  border-right: 15em solid rgba(255, 255, 255, .1);
  border-bottom: 5em solid transparent;
  border-left: none;
  top: 0em;
}

.eth .top .left,
.eth .bottom .left {
  left: 0;
  top: -5em;
  transform: rotateX(-70deg);
}

.eth .top .right,
.eth .bottom .right {
  transform: rotateX(-110deg);
  left: 0em;
  top: -15em;
}

.eth .top .up,
.eth .bottom .up {
  transform: rotateY(70deg);
  left: -5em;
}

.eth .top .down,
.eth .bottom .down {
  transform: rotateY(110deg);
  left: -15em;
}

.eth .top {
  left: 0;
  top: 0;
}

.eth .bottom {
  left: 0;
  top: 1.5em;
  background: rgba(255, 255, 255, .5);
}

.eth .bottom .left,
.eth .bottom .right {
  border-bottom: 15em solid rgba(255, 255, 255, .25);
}

.eth .bottom .up,
.eth .bottom .down {
  border-right: 15em solid rgba(255, 255, 255, .1);
}

.eth .bottom .left {
  transform: rotateX(70deg);
}

.eth .bottom .right {
  transform: rotateX(110deg);
}

.eth .bottom .up {
  transform: rotateY(-70deg);
}

.eth .bottom .down {
  transform: rotateY(-110deg);
}

@keyframes rotate {
  from {
    transform: rotateX(65deg) rotateZ(0deg);
  }

  to {
    transform: rotateX(65deg) rotateZ(360deg);
  }
}



.divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}

.divider .divider-inner {
  overflow: hidden;
  height: 20px;
}

.divider .divider-inner:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
